<!DOCTYPE html>
<html ng-app="offcanvas" lang="es">
<head>
    <meta charset="utf-8">
    <title>Template CSS</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link href="/css/app.css" rel="stylesheet" />
    <link href="/css/offcanvas.css" rel="stylesheet" />
</head>

<body>

    <ng-offcanvas active-transitions="true">
        <ng-offcanvas-menu>
            <a href="javascript:;" >Menu</a>
        </ng-offcanvas-menu>

        <ng-offcanvas-main>
            <h1>Main</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem dui, posuere tristique iaculis ut, dignissim et leo. Sed sagittis, elit a iaculis placerat, ligula nisl porta neque, at bibendum neque enim sit amet metus. Donec non arcu non orci adipiscing aliquam pharetra congue nibh. Morbi rutrum cursus lorem, ac hendrerit quam rutrum et. Sed consectetur nisi libero, eu vehicula lacus dapibus sit amet. Aenean nec orci sit amet dolor iaculis adipiscing. Sed vel tellus massa. Ut tristique felis eget neque varius pretium. Quisque placerat dui quis odio pellentesque, ac vulputate sem bibendum. Morbi non turpis id ipsum pharetra cursus a a dolor. Nam sed sapien non orci aliquet sodales. Nullam molestie elit nulla, vel malesuada orci tincidunt id. Morbi ultricies id quam semper auctor. Proin hendrerit pulvinar diam, ac bibendum odio suscipit tristique. Morbi neque odio, accumsan sed erat in, commodo ullamcorper est.</p>
            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur fermentum erat sit amet semper semper. Nunc quis odio elit. Sed ornare sodales vestibulum. Donec ornare nulla nec erat adipiscing, non sodales nisi condimentum. Donec viverra enim eget tristique sollicitudin. Vestibulum dui nulla, lobortis eget erat ut, placerat vestibulum turpis. Etiam in nibh id purus pellentesque tincidunt. Aliquam adipiscing laoreet nunc, at blandit turpis consequat vitae. Duis convallis volutpat convallis.</p>
            <p>Cras eleifend libero nulla, vel pellentesque lacus egestas in. Donec massa nisi, lacinia ac massa in, imperdiet gravida justo. Donec vestibulum urna vel eros sodales feugiat. Pellentesque erat lectus, iaculis eu tortor vitae, semper hendrerit tortor. Vivamus luctus sodales tellus, et ornare justo. Morbi cursus, purus non malesuada gravida, nisi lorem aliquet odio, ac pharetra dolor purus eget dui. Aliquam tempor dui quis mi venenatis, in tempor tortor sodales. Nam quis ornare ligula. Morbi vitae ligula augue.</p>
            <p>Mauris semper, lorem ac pulvinar tristique, turpis erat sollicitudin nibh, at aliquet libero orci eu nunc. Sed vel sem vel est suscipit porttitor eu et dui. Praesent at turpis vehicula, mattis metus in, iaculis sapien. Duis orci lectus, ullamcorper quis tristique eu, aliquam et neque. Morbi iaculis nulla quis libero sodales laoreet. Suspendisse placerat a sem a fringilla. Etiam facilisis volutpat magna quis semper. In congue, tortor eu adipiscing sagittis, est est venenatis arcu, sed ultrices magna augue eu diam. Pellentesque faucibus urna vitae nulla pulvinar, id venenatis neque tempor. Cras consequat dignissim sem nec convallis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed a malesuada massa. Suspendisse arcu nibh, auctor ut feugiat eu, aliquet non est. Donec non turpis varius, hendrerit orci non, aliquet lacus. Aliquam rhoncus tincidunt condimentum.</p>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed tempor orci a justo ultricies, non ultricies sapien mattis. Suspendisse ultrices at sem id placerat. Donec id hendrerit dui. Integer at congue diam. Aenean feugiat nec purus quis gravida. Maecenas rutrum nisi felis, eu tincidunt ligula bibendum at. Etiam varius rhoncus enim, at lacinia nisl tristique sed.</p>
        </ng-offcanvas-main>

        <ng-offcanvas-additional>
            <a href="javascript:;" >Additional</a>
        </ng-offcanvas-additional>

    </ng-offcanvas>

    <script src="/scripts/angular.js"></script>
    <script src="/scripts/offcanvasDirective.js"></script>
</body>

</html>